.baby-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  
  .card {
    margin: 20px;
    text-align: center;
    border-radius: 15px;

    button {
      margin: 10px auto;
      display: block;
      text-align: center;
    }
  }
}

.page-title {
  text-align: center !important;
  margin-top: 40px;
}