.hero-image {
  background-image: url('https://user-images.githubusercontent.com/76854545/145924912-1416deb9-65b7-44e5-8e89-078166c51163.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width:100%;
  height: 90vh;
  padding: 250px 150px 300px 350px;
  color:#1d1d1d;

  h2 {
    font-family: Buffalo, sans-serif;
    font-size: 5em;
    text-align: left;
  }
}

.home-btn {
  text-align: left !important;
  margin: 0px;
}