@import 'variables';
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import 'homeStyles';
@import 'aboutStyles';
@import 'clientsBabyStyles';
@import 'taskStyles';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');
@font-face {
  font-family: Buffalo;
  src: url('../Buffalo.otf');
}

body {
  background-color: $paleYellow !important;
  font-family: 'Poppins', sans-serif !important;
}

.nav {
  border-bottom: 1px solid rgb(197, 197, 197);
  background-color: #ffffff !important;
}

.bold-text {
  font-weight: bolder;
}

.primary-btn {
  background-color: $logoYellow !important;
  border: 3px solid $logoYellow !important;
  color: #0e0e0e !important;
  font-size: .9em !important;
  font-weight: bolder  !important;
  border-radius: 15px !important;
}

.primary-btn:hover {
  background-color: #0e0e0e !important;
  border: 3px solid #0e0e0e !important;
  color: $logoYellow  !important;
}

.secondary-btn {
  background-color: #ffffff00 !important;
  border: 3px solid $logoYellow !important;
  color: #0e0e0e !important;
  font-size: .9em !important;
  font-weight: bolder  !important;
  border-radius: 15px !important;
}

.secondary-btn:hover {
  background-color: $logoYellow !important;
  border: 3px solid $logoYellow !important;
  color: #0e0e0e !important;
}

.cta-btn {
  background-color: #0e0e0e !important;
  border: 3px solid #0e0e0e !important;
  color: $logoYellow  !important;
  font-size: .9em !important;
  font-weight: bolder  !important;
  border-radius: 15px !important;
}

.cta-btn:hover {
  background-color: rgba(48, 45, 45, 0) !important;
  border: 3px solid #0e0e0e !important;
  color: #0e0e0e  !important;
}
